@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@700&display=swap');

body {
    background: #2563eb url(https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80) center / cover no-repeat fixed;
    font-family: 'Inter', sans-serif;


}


@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.anim {
    background: linear-gradient(-45deg, rgba(238, 119, 82, 0.8), rgba(231, 60, 126, 0.8), rgba(35, 166, 213, 0.8), rgba(35, 213, 171, 0.8));
    background-size: 400% 400%;
    -webkit-animation: gradient-animation 15s ease infinite;
    animation: gradient-animation 15s ease infinite;
}

.backdrop-blur-lg {
    backdrop-filter: blur(16px);
}

.title-font {
    font-family: 'Mulish', serif;
}